@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box; }

.hidden {
  display: none !important; }

body {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400; }

p {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: .01em;
  color: #9698a6;
  margin: 2em 0; }

h1 {
  font-weight: 300;
  line-height: 1.5em;
  font-size: 3.5em; }

h2 {
  font-weight: 300;
  font-size: 2.5em; }

h3 {
  font-weight: 300;
  font-size: 2em; }

.header {
  font-size: 1rem;
  width: 100%;
  background: white; }
  .header .container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10em;
    user-select: none;
    background: white;
    transition: border .2s ease; }
    @media (max-width: 375px) {
      .header .container {
        height: 6em;
        padding: 0 1rem; } }
  .header__logo {
    font-size: 1.4em;
    display: flex;
    align-items: center; }
  .header__nav {
    margin-left: 4em;
    height: 100%;
    display: flex;
    align-items: center; }
    @media (max-width: 375px) {
      .header__nav {
        display: none; } }
    .header__nav > a + a {
      margin-left: 3em; }
    .header__nav a {
      font-size: 1.4em;
      text-decoration: none;
      color: #9698a6;
      height: inherit;
      display: flex;
      align-items: center;
      position: relative; }
      .header__nav a::after {
        content: "";
        position: absolute;
        inset: 0; }
      .header__nav a:hover {
        color: #68707d; }
      .header__nav a:hover:after {
        border-bottom: 3px solid #31d35c; }
  .header__mobile-nav {
    background: transparent;
    border: 0;
    padding: .5rem;
    cursor: pointer; }
    @media (min-width: 375px) {
      .header__mobile-nav {
        display: none; } }
  @media (max-width: 375px) {
    .header .invite {
      display: none; } }

main {
  width: 100%; }
  @media screen and (max-width: 375px) {
    main {
      margin: 0;
      overflow-x: hidden; } }

footer {
  background: #2d314d;
  width: 100%;
  padding: 4rem 0; }
  footer .container {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 375px) {
      footer .container {
        flex-direction: column;
        align-items: center; } }
  footer .group {
    flex-basis: 55%;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 375px) {
      footer .group {
        flex-direction: column;
        align-items: center; } }
  footer .logo {
    color: white; }
    footer .logo svg path[fill] {
      fill: white; }
  @media (max-width: 375px) {
    footer .logo {
      text-align: center; } }
  footer .socials {
    margin-top: 5rem; }
    @media (max-width: 375px) {
      footer .socials {
        margin-top: 1rem; } }
    footer .socials ul {
      list-style: none; }
    footer .socials li {
      display: inline-block;
      padding: .5rem; }
  footer .icon {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-position: center;
    background-size: contain; }
    footer .icon:hover > svg path {
      fill: #26cfa5; }
    footer .icon-fb {
      background: url("../images/icon-facebook.svg") no-repeat; }
    footer .icon-insta {
      background: url("../images/icon-instagram.svg") no-repeat; }
    footer .icon-twitter {
      background: url("../images/icon-twitter.svg") no-repeat; }
    footer .icon-yt {
      background: url("../images/icon-youtube.svg") no-repeat; }
    footer .icon-pinterest {
      background: url("../images/icon-pinterest.svg") no-repeat; }
  footer .links {
    font-size: 1.6rem;
    width: 60%; }
    @media (max-width: 375px) {
      footer .links {
        width: 100%; }
        footer .links ul {
          flex-direction: column !important;
          align-items: center; } }
    footer .links a {
      text-decoration: none;
      color: #dcdee0; }
      footer .links a:hover {
        color: #26cfa5; }
    footer .links ul {
      list-style: none;
      display: flex;
      flex-flow: row wrap; }
    footer .links li {
      flex-basis: 50%;
      padding: .5rem 1rem 1rem; }

.btn {
  font-size: 1.5rem;
  vertical-align: middle;
  border-radius: 4em;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(90deg, #020024 0%, #36d52d 0%, #00d4ff 100%);
  color: white;
  padding: .7em 3em;
  border: 1px solid transparent;
  font-weight: bold;
  position: relative;
  user-select: none;
  transition: all .2s linear;
  width: 100%; }
  @media (max-width: 375px) {
    .btn {
      padding: .7em 2em; } }
  .btn svg {
    margin: 0 .2em;
    vertical-align: top; }
  .btn svg path {
    fill: currentColor; }
  .btn:hover {
    opacity: .55; }
  .btn:hover:active {
    box-shadow: none; }

.post {
  width: 23%;
  border-radius: 4px;
  background: white; }
  @media (max-width: 375px) {
    .post {
      width: 100%; } }
  .post a {
    text-decoration: none;
    transition: color .3s ease; }
    .post a:hover > h3 {
      color: #26cfa5; }
  .post .image {
    position: relative;
    overflow: hidden;
    height: 20rem;
    border-radius: 4px 4px 0 0;
    user-select: none; }
    .post .image img {
      width: 100%;
      height: 100%;
      display: inline-block;
      max-width: 100%;
      vertical-align: middle;
      object-fit: fill;
      object-position: center; }
  .post .info {
    padding: 1.2rem; }
  .post .author {
    color: #9698a6;
    font-size: 1.2rem;
    margin: 1rem 0; }
  .post .title {
    color: black; }
  .post p {
    margin: 1rem 0; }

.post + .post {
  margin-left: 2.5rem; }
  @media (max-width: 375px) {
    .post + .post {
      margin-left: 0;
      margin-top: 2rem; } }

.nav-menu {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08), 0 16px 16px rgba(0, 0, 0, 0.08), 0 24px 24px rgba(0, 0, 0, 0.08);
  border-radius: .5em;
  background: white;
  position: absolute;
  width: 96%;
  top: 12%;
  right: 2%;
  left: auto;
  font-size: 1rem;
  padding: 2em; }
  .nav-menu ul {
    list-style: none;
    text-align: center; }
  .nav-menu li + li {
    margin-top: 2em; }
  .nav-menu a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 300;
    color: black; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.intro {
  position: relative;
  width: 100%;
  background: rgba(182, 183, 190, 0.068); }
  @media (max-width: 375px) {
    .intro {
      padding: 0 .5rem; } }
  .intro .container {
    font-size: 1rem; }
    .intro .container .info {
      width: 30%;
      padding: 12em 0; }
      @media (max-width: 375px) {
        .intro .container .info {
          width: 100%;
          padding-top: 35em;
          text-align: center; } }
      .intro .container .info .btn {
        width: 60%; }
  .intro::after {
    content: '';
    width: 1200px;
    height: 1200px;
    z-index: -2;
    position: absolute;
    top: -380px;
    right: -250px;
    background: url("../images/bg-intro-desktop.svg") no-repeat;
    background-position: center;
    background-size: contain;
    user-select: none; }
    @media (max-width: 375px) {
      .intro::after {
        width: 500px;
        height: 500px;
        top: -160px;
        right: -72px; } }
  .intro .mockups {
    background: url(../images/image-mockups.png) no-repeat;
    width: 1000px;
    height: 1000px;
    background-position: center;
    background-size: auto;
    z-index: -1;
    position: absolute;
    right: -137px;
    top: -167px; }
    @media (max-width: 375px) {
      .intro .mockups {
        background-size: cover;
        top: -120px;
        right: -40px;
        width: 400px;
        height: 450px; } }

.feature {
  width: 100%;
  background: rgba(156, 156, 176, 0.11); }
  @media (max-width: 375px) {
    .feature {
      padding: 0 .5rem; } }
  .feature .container {
    font-size: 1rem; }
  .feature .inner-wrapper {
    padding: 8rem 0; }
  @media (max-width: 375px) {
    .feature {
      text-align: center; } }
  .feature .feature-items {
    display: flex;
    flex-flow: row wrap; }
    @media (max-width: 375px) {
      .feature .feature-items {
        flex-direction: column; } }
  .feature .feature-item {
    flex-basis: calc(( 100% - 12rem ) / 4);
    display: flex;
    flex-direction: column; }
    .feature .feature-item .logo {
      user-select: none;
      margin: 2rem 0; }
  .feature .feature-item + .feature-item {
    margin-left: 4rem; }
    @media (max-width: 375px) {
      .feature .feature-item + .feature-item {
        margin-left: 0; } }

.blog {
  position: relative;
  width: 100%;
  background: rgba(182, 183, 190, 0.068); }
  @media (max-width: 375px) {
    .blog {
      padding: 0 1rem; }
      .blog h2 {
        text-align: center; } }
  .blog .container {
    font-size: 1rem;
    padding: 10rem 0; }
  .blog h2 {
    margin: 3rem 0; }
  .blog .posts {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap; }
    @media (max-width: 375px) {
      .blog .posts {
        flex-direction: column; } }
