// COLORS 
// primary
$color-blue: hsl(233, 26%, 24%);
$color-lime-green: hsl(136, 65%, 51%);
$color-lime-green-1: hsl(165, 69%, 48%);
$color-bright-cyan: hsl(192, 70%, 51%);

// neutral
$color-grayish-blue: hsl(234, 4%, 50%);
$color-lightgrayish-blue: hsl(200, 5%, 87%);
$color-very-lightgray: hsl(217, 7%, 37%);

// sidebar backdrop
$color-sidebar-backdrop: rgba(155, 115, 115, 0.32);

// overlay colors
$color-gray-1: hsla(234, 6%, 66%, 0.068);
$color-gray-2: hsla(240, 8%, 58%, 0.11);

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

// FONT 
$default-font-size: 1.8rem;


// VIEWPORT 
$vw-mobile-max: 375px; 
$vw-desktop-max: 1440px; 

// PATH
$image-path: "../images";

// SHADOW 
$shadow-smooth-8: 0 1px 1px hsla(0deg, 0%, 0% , 0.075),
      0 2px 2px hsla(0deg ,0% ,0% ,0.075),
      0 4px 4px hsla(0deg ,0% ,0% , 0.075),
      0 8px 8px hsla(0deg ,0% ,0% , 0.075)
    ;
$shadow-smooth-16: 0 1px 1px hsla(0deg, 0% ,0% ,0.075),0 2px 2px hsla(0deg ,0%, 0% ,0.075),0 4px 4px hsla(0deg ,0%, 0%, 0.075),0 8px 8px hsla(0deg ,0%, 0% , 0.075),0 16px 16px hsla(0deg, 0% ,0%,  0.075);

$shadow-smooth-24: 0 1px 1px hsla(0deg, 0% ,0% ,0.08),0 2px 2px hsla(0deg ,0%, 0% ,0.08),0 4px 4px hsla(0deg ,0%, 0%, 0.08),0 8px 8px hsla(0deg ,0%, 0% , 0.08),0 16px 16px hsla(0deg, 0% ,0%,  0.08), 0 24px 24px hsla(0,0%,0%,0.08);

// linear gradients
$linear-g-primary: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,213,45,1) 0%, rgba(0,212,255,1) 100%);