.header {
  font-size: 1rem;
  width: 100%;
  background: $color-white;
  .container {
    max-width: $vw-max-width;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10em;
    user-select: none;
    background: $color-white;
    transition: border 0.2s ease;

    @media (max-width: $vw-sm) {
      height: 6em;
      padding: 0 1rem;
    }
  }
  &__logo {
    font-size: 1.4em;
    display: flex;
    align-items: center;
  }
  &__nav {
    margin-left: 4em;
    height: 100%;
    display: flex;
    align-items: center;
    @media (max-width: $vw-lg) {
      display: none;
    }
    > a + a {
      margin-left: 3em;
    }
    a {
      font-size: 1.4em;
      text-decoration: none;
      color: $color-grayish-blue;
      height: inherit;
      display: flex;
      align-items: center;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        inset: 0;
      }
      &:hover {
        color: $color-very-lightgray;
      }
      &:hover:after {
        border-bottom: 3px solid $color-lime-green;
      }
    }
  }
  &__mobile-nav {
    background: transparent;
    border: 0;
    padding: 0.5rem;
    cursor: pointer;
    @media (min-width: $vw-lg) {
      display: none;
    }
  }
  .invite {
    @media (max-width: $vw-lg) {
      display: none;
    }
  }
}
