.btn {
  font-size: 1.5rem;
  vertical-align: middle;
  border-radius: 4em;
  text-align: center;
  cursor: pointer;
  background: $linear-g-primary;
  color: $color-white;
  padding: 0.7em 3em;
  border: 1px solid transparent;
  font-weight: bold;
  position: relative;
  user-select: none;
  transition: all 0.2s linear;
  width: 100%;
  @media (max-width: $vw-mobile-min) {
    padding: 0.7em 2em;
  }
  svg {
    margin: 0 0.2em;
    vertical-align: top;
  }
  svg path {
    fill: currentColor;
  }
  &:hover {
    opacity: 0.55;
    // box-shadow: $shadow-smooth-16;
  }
  &:hover:active {
    box-shadow: none;
  }
}
