.nav-menu {
  box-shadow: $shadow-smooth-24;
  border-radius: 0.5em;
  background: white;
  position: absolute;
  width: 96%;
  top: 12%;
  right: 2%;
  left: auto;
  font-size: 1rem;
  padding: 2em;
  ul {
    list-style: none;
    text-align: center;
  }
  li + li {
    margin-top: 2em;
  }
  a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 300;
    color: $color-black;
  }
  @media (min-width: $vw-sm) {
    & {
      display: none;
    }
  }
}
